<div class="ng-cloak" ng-init="init()">
  <div class="panel task-list">
    <div class="panel-body">
      <!-- <editablespan input-class="form-control" model="list.content" on-ready="listContentEdited(list.content)" span-class="list-name"></editablespan> -->
      <form id="edit_list" ng-submit="listContentEdited(list.content)">
	    <div class="span12">
	      <div class="row">
	        <textarea autofocus="autofocus" class="form-control input-lg custom_txtarea" data-non-blank="" id="taskDescription" maxlength="255" ng-model="list.content" placeholder="List Content" type="text"></textarea>
	      </div>
	      <div class="row">
	      	<span class="input-group-btn">
		      	<button class="btn btn-primary btn-lg" type="submit">Update list</button>
		      	<!-- <a href="<%=generate_pdf_path%>?text={{list.content}}" class="btn btn-primary btn-lg">Generate Pdf</a>&nbsp;
		      	<a href="#" class="btn btn-primary btn-lg">Comment</a>&nbsp; -->
	      	</span>
	      </div>
	    </div>
	</form>
	 <br>
	  <div class="row">
		<span class="input-group-btn">
		   <%=form_tag generate_pdf_path, remote: true do %>
		     <input type="hidden" value="{{list.content}}" name="text">
		     <input type="hidden" value="{{list.id}}" name="list_id">
		     <button class="btn btn-primary btn-lg" type="submit">Generate Pdf</button>
		   <%end%>
		   <br>
		   <a href="#" class="btn btn-primary btn-lg">Comment</a>
		</span>
	 </div>

    </div>
  </div>
</div>