<div class="row-fluid">
    <div class="span12" style="text-align:center">

      <div id="homepage_titles">
        <h1 style="padding: 0;">
          Write Better with draft
        </h1>
      </div>

      <div class="home_copy" style="font-size: 1em; line-height: 1.575em; margin-top: 5em">
          <a href="/users/sign_up" class="btn btn-primary btn-large" data-no-turbolink="true" id="documents_button_from_homepage_for_signedin_user" style="font-size: 1.25em">Try This</a>
      </div>

    </div>
  </div>